{% extends "base.html" %}
{% block body %}
<div class="container">
    <div>
        <h3 style="color: red;">Click on row to view more details</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Authors</th>
                    <th scope="col">Number Of Pages</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">Country</th>
                </tr>
            </thead>
            <tbody id="container">
                {% for book in books %}
                {% for key in book %}
                <tr class='clickable-row' data-href="{{url_for('details',id_=loop.index)}}">
                    <th scope="row">{{loop.index}}</th>
                    <td>{{ book. if book.name is not none else 'NONE' }}</td>
                    <td>{{book.isbn}}</td>
                    <td>{{key}}</td>
                    <td>{{book.isbn}}</td>
                    <td>{{book.isbn}}</td>
                </tr>
                {%endfor %}
                {%endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                console.log($(this).data("href"));
                window.location = $(this).data("href");
            });
        });
    </script>
    <script type="text/javascript">

    </script>
</div>
{% endblock %}