{% extends "base.html" %}
{% block body %}
<div class="container">
    <div>
        <h4 style="color: red;">Click on cell with links to view details to view more details</h4>
        {% if prev %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item">
                    <a class="page-link" href="{{url_for('books')}}">Go back</a>
                </li>
            </ul>
        </nav>
        {%endif %}
    </div>
    <div class="table-responsive">
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Authors</th>
                    <th scope="col">Number Of Pages</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">Country</th>
                </tr>
            </thead>
            <tbody id="container">
                {% for book in books %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>
                        <a href="{{url_for('books',name=book.name)}}">
                        {{ book.name }}
                    </a>
                    </td>
                    <td>
                        <a href="{{url_for('books',isbn=book.isbn)}}">{{book.isbn}}</a>
                    </td>
                    <td>
                        <a href="{{url_for('books',mediaType=book.mediaType)}}">{{book.mediaType}}</a>
                    </td>
                    <td>
                        <a href="{{url_for('books',authors=book.authors[0])}}">{{book.authors[0]}}</a>
                    </td>
                    <td>
                        <a href="{{url_for('books',released=book.released)}}">{{book.released}}</a>
                    </td>
                    <td>
                        <a href="{{url_for('books',country=book.country)}}">{{book.country}}</a>
                    </td>
                </tr>
                {%endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}