{% extends "base.html" %}
{% block body %}
<div class="container">
  <table class="table table-hover">
    <thead>
    {% for key in details%}
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{ key }}</th>
      </tr>
      {% endfor%}
    </thead>
    <tbody id="container">
      {% for key in details%}
      <th scope="row">{{loop.index}}</th>
        <tr> {% if details[key] == '[]' %}
          Null
          {% else %}
          <th>{{ details[key] }}</th>
          {% endif %}
        </tr>
      {% endfor%}
    </tbody>
  </table>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</div>
{% endblock %}